{# Go back to index #}
<form action="{% url 'index' %}" method='get'>
    <button type='submit'>back</button>
</form>

<h1>{{ list_detail.name }}</h1>
{% if list_detail.items %}
    <ul>
        {% for item in list_detail.items %}
            <li>
                <form action="{% url 'delete item' list_detail.id forloop.counter0 %}" method='post'>
                    {{ item }}
                    {% csrf_token %}
                    <button type='submit'>-</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

{# Add to list #}
<form action="{% url 'new item' list_detail.id %}" method="post">
    {% csrf_token %}
    <label for="item name">New Item: </label>
    <input id="item name" type="text" name="item name" value="{{ item_name }}">
    <input type="submit" value="Add">
</form>

{# delete list #}
<form action="{% url 'delete list' list_detail.id %}" method='post'>
    {% csrf_token %}
    <button type='submit'>delete</button>
</form>